
    <div class = "midashi">ジャンルせんたく</div>
    <div class = "genres"> 
      <%= question.collection_select :genre_id, Genre.all,:id,:name, {include_blank:"ジャンルを選んでください"},{class: "genre"} %>
      <%= link_to "ジャンルを作る", new_genre_path , class: "genre"%>
    </div>
   
    <div class = "midashi">タイトル</div>
    <div class ="genres">
      <%= question.text_field :title, placeholder:"問題のタイトル", class: "genre" %>
    </div>
<div class = "midashi">もんだい</div>
    <%= question.text_area :question, placeholder:"もんだい", class: "question-write" %>

    <div class = "answers-write">
      <div class = "answer-area"> 
      <%= image_tag "maru.png", class:"maru" %>
      <%= question.text_field :correct_ans, placeholder:"せいかい", maxlength:"10", class: "form-answer-write" %>
      </div>
      <div class = "answer-area"> 
      <%=image_tag "batu.png", class: "batu"%>
      <%= question.text_field :wrong_ans_1, placeholder:"まちがい", maxlength:"10", class: "form-answer-write" %>
      </div>
      <div class = "answer-area"> 
       <%=image_tag "batu.png", class: "batu"%>
      <%= question.text_field :wrong_ans_2, placeholder:"まちがい", maxlength:"10", class: "form-answer-write" %>
      </div>
    </div>
    
<div class = "midashi">コメント</div>
    <%= question.text_area :text, placeholder:"コメントを入力してください", class: "comment" %>
    
    <div class = "submits">
      <%= question.submit "できあがり",class: "submit" %>
      <%=link_to "もどる",root_path, class: "submit"%>
    </div>