  
  <div class = "sub-title">クイズをつくる</div>
  <div class ="genres"></div>
  
  <%= form_with(model: @question_comment, url: questions_path, local: true) do |question| %>

    <%= render "error_messages", model: @question_comment %>
    <%= render partial:"new_edit", locals:{question: question}%>
    
    <div class = "submits">
      <%= question.submit "できあがり",class: "submit" %>
      <%=link_to "もどる",root_path, class: "submit"%>
    </div>
  <% end %>