<div class = "body-s">
  <div class = "sub-title"><%= @genre.name %>の</div>
  <div class = "sub-title">クイズいちらん</div>
    <div class = "genre-index-area">
      <div class = "genre-index-header">クイズの数 
      <%= @question.count %>問</div>
      <div class = "genre-index" style= "color:white;">タイトル と つくった人</div>

      <% @questions.each do |question|%>
        <div class = "genres-index">
          <div class = "quiz-title">
            <%= link_to "・#{question.title}", question_comments_path(question.id), style:"width:fit-content;" %>
          </div>

          <div class = "genre-index">
            <%= link_to "#{User.find(question.user_id).nickname}さん",user_path(question.user_id),style:"color:blue;"%>
          </div>
        </div>
      <%end%>
        
        
    </div>
    <div class = "submits">
      <%=link_to "もどる",questions_path, class: "submit"%>
    </div>
</div>