  <div class = "sub-title">クイズの内容と コメント</div>
  
  <div class= "comment-genres">
    <div class = "comment-genre">作者：<%=@user.nickname%></div>
    <div class = "comment-genre">ジャンル：<%=@genre.name%></div>
    <div class = "comment-genre">タイトル：<%=@question.title%></div>
  </div>

  <% if  user_signed_in? && @user.id == current_user.id%>
  
    <div class = "edit-area">
      <%=link_to "へんしゅう",edit_question_path(params[:question_id]), class: "edit",  id: "destroy"%> 
      <%=link_to "さくじょ",question_path(params[:question_id]),method: :delete,data: { confirm: 'クイズを消してもいい？' }, class: "edit" %> 
    </div>
  <% end %>

  <div class = "midashi">もんだい</div>
  <div class= "question-write"><%=@question.question%></div>
  <div class = "answers-write">
  <div class = "answer-write"  >
  <%= image_tag "maru.png", class:"maru" %>
    <%=@question.correct_ans%>
  </div>
  <div class = "answer-write"  >
    <%= image_tag "batu.png", class:"batu" %>
    <%=@question.wrong_ans_1%>
  </div>
  <div class = "answer-write"  >
    <%= image_tag "batu.png", class:"batu" %>
    <%=@question.wrong_ans_2%>
  </div>
  
  </div>


  <div class = "comment-area">
    <div class = "comment-header">クイズのかんそう</div>

    <% @comments.each do |comment|%>
      <% if  @question.user_id == comment.user_id %>

        <div class = "l-comment-area">
          <div class = "user-name"><%=  User.find(comment.user_id).nickname%></div>

          <% if user_signed_in? && comment.user_id == current_user.id%>
            <div class = "current-user-comment"><%= comment.text %></div>
            <div class = "comment-edit-area">
              <%= link_to "へんしゅう", edit_question_comment_path(@question.id, comment.id),class: "comment-edit" %>
              <%=link_to "さくじょ",question_comment_path(@question.id,comment.id),method: :delete,data: { confirm: 'コメントを消してもいい？' }, class: "comment-edit" %> 
            </div>
          <% else %>
            <div class = "user-comment"><%= comment.text %></div>
          <% end %>
        </div>
      <% else %>
        <div class = "r-comment-area">
        
        <div class = "another-user-name"><%=  User.find(comment.user_id).nickname%></div>
          <% if user_signed_in? && comment.user_id == current_user.id%>
          <div class = "current-user-comment"><%= comment.text %></div>
            <div class = "comment-edit-area">
              <%= link_to "へんしゅう", edit_question_comment_path(@question.id, comment.id),class: "comment-edit" %>
              <%=link_to "さくじょ",question_comment_path(@question.id,comment.id),method: :delete,data: { confirm: 'コメントを消してもいい？' }, class: "comment-edit" %> 
            </div>
          <% else %>
            <div class = "user-comment"><%= comment.text %></div>
          <% end %>
        </div>
      <% end %>
    <% end %>
    
  </div>

<% if user_signed_in? %>
  <%= form_with model:[@question,@comment_new] do |f| %>
  <%= render "/questions/error_messages", model: f.object %>
  <div class = "midashi">コメント入力</div>
    <%= f.text_area :text, placeholder:"コメントを入力してください", class: "comment" %>
    <div class = "submits">
      <%= f.submit "コメントする", class: "submit" %>
          <%=link_to "もどる",question_path(@genre.id), class: "submit"%>
    </div>
  <% end %>
<% else %>
  <div class = "submits">
  <%=link_to "もどる",question_path(@genre.id), class: "submit"%>
  </div>
<% end %>
