
<div class = "body-l">
  <%= image_tag "good.png", alt: "正解", id: "good_ans", class:"ans-image",style:"display:none;" %>
  <%= image_tag "no_good.png", alt: "不正解", id: "no_good_ans", class:"ans-image",style:"display:none;" %>
  <%= image_tag "time_up.png", alt: "じかん切れ", id: "time_up", class:"ans-image",style:"display:none;" %>

<%# PC版 %>
    <%= image_tag "finish2.png", alt:"おわり", id:  "finish", class:"finish-image" ,style:"display:none;"%>
<%# PC版 %>

<%# 携帯版 %>
    <%= image_tag "finish-keitai2.png", alt:"おわり", id:  "finish_keitai", class:"finish-keitai-image",style:"display:none;" %> 
<%# 携帯版 %>

    
<div class = "finish-area" id = "finish-area" style= "display:none;">
  <div class = "finish-text-area">
    
    <div class = "finish-text-score" id = total_question>５問中</div>
    <div class = "finish-text-score" id = "score">５問中００問せいかい</div>
    <%# 出題数を増やすときはここも増やす %>
    <div class = "finish-text" >だい１問００</div>
    <div class = "finish-text" >だい２問００</div>
    <div class = "finish-text" >だい３問００</div>
    <div class = "finish-text" >だい４問００</div>
    <div class = "finish-text" >だい５問００</div>
    <%# 出題数を増やすときはここも増やす %>

    <%=link_to "もどる",root_path,class: "finish-text-return"%>
  </div>
</div>

    <div class = field>
      <div class ="question_area">
        <div class = "count-down" id = "count-down" >0</div>
        <div class ="shadow"></div>

        <div class = "question-header">
          <div class = "number" id ="number">第００問</div>
          <div class ="timer"></div>
          <div class ="timer" id ="timer">タイマー</div>
        </div>
        <div class = "genre-name" id="genre-name">〜
          のクイズ〜</div>

        <div class = "question" id = "question" >問題文</div>
        
        
      </div>

      <div class = answers>
        <button type="button" class = "answer" id = "answer_a" disabled onclick="disabled = true;">answer A</button>
        <button type="button" class = "answer" id = "answer_b" disabled onclick="disabled = true;">answer B</button>
        <button type="button" class = "answer" id = "answer_c" disabled onclick="disabled = true;">answer C</button>
      </div>
    </div>
    <div class = "footer">
      <div class = "copy_light">copy light poorDolls</div>
    </div>

  
</div>