<!DOCTYPE html>
<html>
  <head>
    <title>QuizBuilder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
  </head>

  <body>
  
    <div class = "body-l">
    <%= render "//layouts/header" %> 
        <%= yield %>
    </div>
    
    <div class = calender-area>
      <div class = calender-num><%=@month%></div>
      <div class = calender-mark>月</div>
      <div class = calender-num><%=@day%></div>
      <div class = calender-mark>日</div>
      <div class = calender-mark>（<%=@week%>）</div>
      <div class = calender-mark>日直</div>
      <% if user_signed_in?%>
      <div class = calender-nittyoku><%=current_user.nickname%></div>
      <% else %>
      <div class = calender-nittyoku>ひよ子</div>
      <% end %>
    </div>

  </body>
</html>
